@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.opacity {
  opacity: 0.5;
}

.background {
  background-color: #3cb4ac;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-weight: 500;
  color: #7a7a7a;
  line-height: 1.7;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.bd-grid {
  margin: 1.5rem;
  background: white;
  border-radius: 10px;
  padding: 2rem 1rem;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #dad8d8;
  position: relative;
  overflow-x: hidden;
}

header {
  background: url(../images/image-hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 1.5rem;
  height: 300px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 7rem;
}

@media screen and (max-width: 800px) {
  .menu {
    background-color: white;
    position: relative;
    top: 3rem;
    width: 100%;
    border-radius: 10px;
    z-index: 100;
    right: -120%;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu a {
    padding: 1.5rem;
    border-bottom: 1px solid #dad8d8;
    color: black;
  }
  .menu a:last-child {
    border-bottom: none;
  }
}

.show-menu {
  right: 0;
}

.closemenu {
  width: 2rem;
  color: white;
}

.menu-btn {
  width: 1.2rem;
}

main {
  position: absolute;
  top: 14.5rem;
}

.section1 {
  text-align: center;
  position: relative;
}

.section1 h1 {
  padding: 1rem 3rem;
}

.section1 p {
  margin-bottom: 2rem;
}

.logo-mastercraft {
  position: absolute;
  top: -20px;
  right: 50%;
  left: 45%;
  width: 3rem;
}

.section1-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  background: #3cb4ac;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background: #147b74;
}

.bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark:hover {
  opacity: 0.9;
}

.bookmark-name {
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background: #dad8d8;
  color: #7a7a7a;
  padding-left: 4rem;
}

.bookmark-logo {
  width: 3rem;
  color: white;
  position: relative;
  left: 2.9rem;
  top: 0.1rem;
}

.contribution-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stat {
  padding: 1rem;
}

.stat P {
  padding: 0.5rem;
}

.stat:nth-child(2) {
  border-top: 1px solid #dad8d8;
  border-bottom: 1px solid #dad8d8;
}

.contribution-bar {
  height: 14px;
  width: 100%;
  background: #dad8d8;
  border-radius: 50px;
}

.bar {
  height: 14px;
  width: 80%;
  background: #3cb4ac;
  border-radius: 50px;
}

.about-project {
  text-align: start;
}

.about-project p {
  margin: 2rem 0;
}

.pledge {
  border: 1px solid #dad8d8;
  border-radius: 10px;
  padding: 2rem 1.8rem;
  margin-bottom: 2rem;
}

.pledge h5 {
  color: #3cb4ac;
  margin-top: 0.5rem;
}

.pledge .pledge-header,
.pledge p {
  margin-bottom: 1.5rem;
}

.pledge button {
  font-weight: 700;
}

.pledge-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pledge-stat p {
  margin-left: 0.7rem;
}

.out-of-stock {
  opacity: 0.5;
}

.out-of-stock button {
  background-color: #7a7a7a;
}

.back-this-project {
  position: absolute;
  top: -100%;
  z-index: 100;
}

.back-this-project .back-this-project-head p {
  margin: 1.3rem 0;
}

.back-this-project .back-this-project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-this-project .back-this-project-nav .close-button {
  font-size: 1.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.back-this-project .back-this-project-nav .close-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.back-this-project .pledge-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-this-project .pledge-header h4 {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.back-this-project .pledge-header h4:hover {
  color: #3cb4ac;
}

.back-this-project .radio-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #dad8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.8rem;
}

.back-this-project .radio-btn .radio {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.show {
  top: -5rem;
}

.pledge2 {
  border: 1px solid #dad8d8;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.pledge2-info {
  border-radius: 10px;
  padding: 1rem 1.8rem;
}

.pledge2-info p {
  margin: 1rem 0;
}

.pledge-header h5 {
  color: #3cb4ac;
  margin-top: 0.6rem;
}

.pledge-stat2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledge-stat2 p {
  margin-left: 0.5rem;
}

.pledge-input-nav {
  border-top: 1px solid #dad8d8;
  padding-top: 2rem;
  text-align: center;
}

.pledge-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
  padding: 0 1.8rem;
}

.pledge-input input {
  border: none;
}

.pledge-input h2 {
  margin-left: 0.5rem;
}

.pledge-input .pledge-stat {
  border: 1px solid #dad8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.mahogany {
  opacity: 0.5;
}

.thanks-support {
  position: absolute;
  top: -5rem;
  z-index: 100;
  display: none;
  padding: 1rem 1.8rem;
  border: 1px solid #dad8d8;
  border-radius: 10px;
  background-color: white;
  margin: 1.5rem;
  text-align: center;
}

.thanks-support h2 {
  margin: 2rem 0;
}

.thanks-support button {
  margin: 2rem 0 1.5rem;
}

@media screen and (min-width: 728px) {
  .pledge-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section1,
  .section2,
  .section3,
  .back-this-project,
  .thanks-support {
    width: 90%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 8rem;
  }
}

@media screen and (min-width: 800px) {
  header {
    background: url(/images/image-hero-desktop.jpg);
    padding: 2rem 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  header .menu-btn {
    display: none;
  }
  nav {
    position: absolute;
    top: 2rem;
    left: 8rem;
  }
  .menu {
    position: absolute;
    right: 8rem;
    top: 2rem;
  }
  .menu ul > a {
    color: white;
    margin-left: 2rem;
  }
  .section1-nav button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section1,
  .section2,
  .section3,
  .back-this-project,
  .thanks-support {
    width: 90%;
    padding: 2rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 8rem;
  }
  .contribution-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 1rem;
  }
  .stat:nth-child(2) {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #dad8d8;
    border-right: 1px solid #dad8d8;
    padding: 0 2rem;
  }
  .pledge-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pledge-footer h4 {
    padding-right: 2rem;
  }
  .pledge-input-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pledge-input-nav .pledge-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pledge-headings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pledge-headings h5 {
    margin-left: 1rem;
    position: relative;
    top: -5px;
  }
}

@media screen and (min-width: 1000px) {
  .section1,
  .section2,
  .section3,
  .back-this-project,
  .thanks-support {
    width: 70%;
    padding: 2rem;
  }
  .pledge-input-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.5rem;
  }
  .pledge-input-nav .pledge-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pledge-input-nav .pledge-input button {
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */